div{
    display: flex;
    justify-items: center;
    justify-content: center;
    padding: 20px;
    margin: 10px;
    
}

table{
    border-style:double;
    width: 300px;
    height: 150px;
}

tHead{
    background-color: azure;
    border-color: black;
    border-style: dotted;
    justify-content: center;
}

tBody{
    justify-content: center;
    justify-items: center;
}